.breadcrumb {
    display: flex;
    align-items: center;
    padding: 14px;
    border-bottom: 1px solid #e0e1e4;
    width: calc(100% - 28px);
}

.breadcrumb .has-link:after {
    content: ">";
    color: #011111;
    padding: 0 9px;
}

.breadcrumb a {
    text-decoration: none;
    font-weight: 700;
}
